In [27]:
import re

In [28]:
the_concert = 'Katherine went to the concert to see Catheryn and the Cathryn’s. She ran into her friend Kathryn, who introduced Katherine to her friend Catherine. Together, they enjoyed the concert while texting inaudible snippets to their mutual friend, Kathrin. Their mercurial friend, katharine, felt left out.'

In [29]:
the_concert

'Katherine went to the concert to see Catheryn and the Cathryn’s. She ran into her friend Kathryn, who introduced Katherine to her friend Catherine. Together, they enjoyed the concert while texting inaudible snippets to their mutual friend, Kathrin. Their mercurial friend, katharine, felt left out.'

# Finding full match, position of first character in the match, position of last character in the match, and length of match.

In [30]:
re.findall('[CKk]ath.[a-z]*', the_concert)

['Katherine',
 'Catheryn',
 'Cathryn',
 'Kathryn',
 'Katherine',
 'Catherine',
 'Kathrin',
 'katharine']

In [31]:
[x.start() for x in re.finditer('[CKk]ath.[a-z]*', the_concert)]

[0, 37, 54, 89, 113, 137, 240, 273]

In [32]:
import pandas as pd

In [33]:
data = pd.DataFrame(pd.Series(re.findall('[CKk]ath.[a-z]*', the_concert)).rename('match_word'))

In [34]:
data['first_position'] = pd.Series([x.span()[0]for x in re.finditer('[CKk]ath.[a-z]*', the_concert)])

In [35]:
data['last_position'] = pd.Series([x.span()[1]for x in re.finditer('[CKk]ath.[a-z]*', the_concert)])

In [36]:
data['length'] = pd.Series([x.span()[1] - x.span()[0] for x in re.finditer('[CKk]ath.[a-z]*', the_concert)])

In [37]:
data

  match_word  first_position  last_position  length
0  Katherine               0              9       9
1   Catheryn              37             45       8
2    Cathryn              54             61       7
3    Kathryn              89             96       7
4  Katherine             113            122       9
5  Catherine             137            146       9
6    Kathrin             240            247       7
7  katharine             273            282       9